@model Parichay.MVC.Models.Permissions
@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
<legend><h2>Permissions</h2></legend>
@Html.Partial("perm",Model)
</fieldset>

